@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  font-family: 'Inter', sans-serif;
  background-color: #f2ead2;
  color: #333;
}

.home-page {
  font-family: 'Inter', sans-serif;
  background-color: #f2ead2;
  color: #333;
}

.app-nav {
  font-family: 'Inter', sans-serif;
  position: fixed;
  top: 0;         
  left: 0;      
  width: 100%;     
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000;   
  padding: 10px;  
  text-align: center; 
}